*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
li{list-style: none;}
a{text-decoration: none;}
.bg-blue{background-color: #0881a3}
.color-white{color: #ffffff}
.color-black{color: #303030}
.color-grey{color: #949494;}
.color-blue{color: #0881a3}
.button-blue{
	background-color: #0881a3;
	color: #ffffff;
	padding:0.8rem 0.5rem;
}
.button-white{
	background-color: #ffffff;
	padding: 1rem 2rem;
	color: #303030;
	text-transform: uppercase;
	font-weight: 900;
}
.button-grey{
	background-color: #d2d2d2;
	color: #ffffff;
	padding: 1rem;
	margin: 0 1rem 0 0;
	width: 48px;
}
.button-blue-search{
	background-color: #0881a3;
	color: #ffffff;
	font-size: 1rem;
}
.button-blue-search i{font-size: 1rem; text-align: center;}
header{padding: 1rem}
nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	/*border: 1px solid red;*/
}
.navbar-left, .navbar-right{
	display: flex;
}
.navbar-left{flex:1;}
.link{
	position: relative;
}
.link:before, .link:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #ecccb4;
}
.link:before{
	opacity: 0;
  	-webkit-transform: translateY(-8px);
          	transform: translateY(-8px);
  	transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  	transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link:after{
	opacity: 0;
  	-webkit-transform: translateY(4px);
          	transform: translateY(4px);
  	transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  	transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link:hover:before, .link:hover:after, .link:focus:before, .link:focus:after{
	opacity: 1;
  	-webkit-transform: translateY(0);
          	transform: translateY(0);
}
.link:hover:before, .link:focus:before{
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link:hover:after, .link:focus:after{
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar-left a{
	padding: 1rem
}
.navbar-right a{
	padding: 1rem;
	align-self: flex-end;
}
.main{
	background: url(aset/main1.jpg);
	background-size: cover;
	height: 100vh;
}
.main-container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main-container h1{
	margin: 1rem;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.2rem;
}
.main-container p{
	letter-spacing: 0.2rem;
	margin: 1rem;
}
/*images boxes*/
.images-box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.images-box-content{
	height: 45vh;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.images-box-content:nth-child(1){
	background: url(aset/p1.jpg) no-repeat;
}
.images-box-content:nth-child(2){
	background: url(aset/p2.jpg) no-repeat;

}
.images-box-content:nth-child(3){
	background: url(aset/p3.jpg) no-repeat;
}
.images-box-content:nth-child(4){
	background: url(aset/p4.jpg) no-repeat;
}
/*article*/
.article-container{
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
}
.article-img{
	width: 50%;
}
.article-img img{
	width: 100%;
	min-width: 400px;
}
.article-text{
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	padding: 2rem 1rem;
}
.article-text h3{
	font-size: 2.5rem;
}
.article-text p{
	margin: 0.6em 0 2rem;
	text-align: justify;
	font-size: 1.2rem;
}
.article-text a{
  text-align: center;
  margin-top: auto;
  width: 160px;
  letter-spacing: 1px;
}
/*subscribe*/
.subscribe-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 30vh;
	margin-bottom: 2rem
}
.subscribe-container h3{
	text-transform: uppercase;
	font-size: 2rem;
	word-spacing: 0.5rem;
}
.subscribe-container p{
	word-spacing: 0.5rem;
}
.subscribe-container div{
	width: 50%;
	display: flex;
	justify-content: center;
}
.subscribe-container div input{
	width: 60%;
	height: 8vh;
	padding: 1rem
}
.subscribe-container div a{
	height: 8vh;
	padding: 1rem
}
/*footer*/
footer{padding: 1.5rem}
.footer-container{
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}
.footer-container li a, .footer-container p, h4{
	color: #ffffff
}
.site, .info, .social{
	line-height: 2;
	padding: 1.5rem;
}
.info, .social{border-left:1px solid #399ab5}
.media-social{
	display: flex;
}
.media-social li a i{text-align: center;}
